

.movies-container{
    display: flex;
    flex-wrap: wrap;
}

.movie-card{
    margin: 20px;
    width: 25%;
}

.img-movie{
    width: 75%;
    height: auto;
    max-height: 225px;
}

.subtitles-true,
.subtitles-false{
    font-size: 30px;
}

.subtitles-false{
    color: red;
}

.subtitles-true{
    color: rgb(32, 189, 97);
}

.bold-text{
    font-weight: bolder;
}

.description-text{
    font-size: small;
    font-style: oblique;
    text-align: justify;
}

.btns-cards{
    display: flex;
}

.btn-movie{
    width: 50%;
    border-radius: 5px;
    margin: 5px;
    background-color: burlywood;
    color: antiquewhite;
}

.see-movie{
    background-color: rgb(12, 185, 185); 
}

a {
    text-decoration: none;
    color: black;
}

.icon-agregar{
    color: burlywood;
    font-size: 20px;
}

.btn-fav{
    font-size: 75%;
}

.btn-like, .btn-like i{
    color:#F40039;
}