/* You can add global styles to this file, and also import other style files */

body{
    background-color: black;
}

h1, h2{
    color: rgb(12, 185, 185);
    margin-bottom: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}